.z-layout {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
}
.z-layout-content {
  overflow: hidden;
  display: flex;
}
.z-chart {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
